<div class="mb-4">
    <label for="formatted_cpf_cnpj" class="block text-gray-700 text-sm font-bold mb-2">CPF/CNPJ:</label>
    <input type="text" id="formatted_cpf_cnpj" name="formatted_cpf_cnpj" value="{{ formatted_cpf_cnpj }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
</div>
<div class="mb-4" style="display: none;">
    <input type="text" id="cpf_cnpj" name="cpf_cnpj" value="{{ cpf_cnpj }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
</div>