<!-- templates/navbar.html -->
<nav class="bg-gray-800 p-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div class="text-white flex space-x-4">
                <a href="/" class="hover:bg-gray-700 px-3 py-2 rounded">Home</a>
                <a href="/cliente" class="hover:bg-gray-700 px-3 py-2 rounded" >Clientes</a>
                <a href="/mikrotik" class="hover:bg-gray-700 px-3 py-2 rounded" >Mikrotik</a>
                <a href="/plano" class="hover:bg-gray-700 px-3 py-2 rounded">Planos</a>
                <a href="/financeiro/dici" class="hover:bg-gray-700 px-3 py-2 rounded">DICI</a>
            </div>
        </div>
    </div>
</nav>
