{% extends "snippets/base.html" %}

{% block title %}Client List{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Client List</h1>
    <a href="/cliente/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-4 inline-block">Add Client</a>
    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="py-2">Name</th>
                <th class="py-2">Email</th>
                <th class="py-2">CPF/CNPJ</th>
                <th class="py-2">Telefone</th>
                <th class="py-2">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
            <tr>
                <td class="border px-4 py-2">{{ client.id }}</td>
                <td class="border px-4 py-2">{{ client.nome }}</td>
                <td class="border px-4 py-2">{{ client.email }}</td>
                <td class="border px-4 py-2">{{ client.formatted_cpf_cnpj }}</td>
                <td class="border px-4 py-2">{{ client.telefone }}</td>
                <td class="border px-4 py-2">
                    <a href="/cliente/{{ client.id }}" hx-get="/cliente/{{ client.id }}" hx-target="#response" hx-swap="innerHTML" class="text-blue-500 hover:text-blue-700">Edit</a>
                    <a href="/cliente/{{ client.id }}" hx-delete="/cliente/{{ client.id }}" hx-target="#response" hx-swap="innerHTML" class="text-red-500 hover:text-red-700">Delete</a>
                    <a href="/cliente/contrato/{{ client.id }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Generate Contract</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="response"></div>
</div>
{% endblock %}
