{% extends "snippets/base.html" %}

{% block content %}
    <h1>Templates de Contrato</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
                <tr>
                    <td>{{ template.nome }}</td>
                    <td>
                        <!--TODO redo the <a> tags to use htmx-->
                        <a hx-put="/contrato/template/{{ template.id }}">Editar</a>
                        <a hx-delete="/contrato/template/{{ template.id }}" ht-target="closest tr">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content%}
