    <div class="mb-4">
        <label for="rua" class="block text-gray-700 text-sm font-bold mb-2">Rua:</label>
        <input type="text" id="rua" name="endereco.rua" value="{{ rua }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="numero" class="block text-gray-700 text-sm font-bold mb-2">Número:</label>
        <input type="text" id="numero" name="endereco.numero" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="bairro" class="block text-gray-700 text-sm font-bold mb-2">Bairro:</label>
        <input type="text" id="bairro" name="endereco.bairro" value="{{ bairro }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="complemento" class="block text-gray-700 text-sm font-bold mb-2">Complemento:</label>
        <input type="text" id="complemento" name="endereco.complemento" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="cidade" class="block text-gray-700 text-sm font-bold mb-2">Cidade:</label>
        <input type="text" id="cidade" name="endereco.cidade" value="{{ cidade }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="estado" class="block text-gray-700 text-sm font-bold mb-2">Estado:</label>
        <input type="text" id="estado" name="endereco.estado" value="{{ estado }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
        <label for="ibge" class="block text-gray-700 text-sm font-bold mb-2">IBGE:</label>
        <input type="text" id="ibge" name="endereco.ibge" value="{{ ibge }}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
