{% extends "snippets/base.html"%}

{% block title %}Mikrotik List{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Mikrotik List</h1>
    <table class="min-w-full bg-white shadow-md rounded mb-4">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left text-gray-600 font-bold">Name</th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left text-gray-600 font-bold">IP Address</th>
                <th class="py-2 px-4 border-b-2 border-gray-300 text-left text-gray-600 font-bold">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for mikrotik in mikrotik_options %}
            <tr>
                <td class="py-2 px-4 border-b border-gray-300">{{ mikrotik.nome }}</td>
                <td class="py-2 px-4 border-b border-gray-300">{{ mikrotik.ip }}</td>
                <td class="py-2 px-4 border-b border-gray-300">
                    <a href="/mikrotik/{{ mikrotik.id }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">Edit</a>
                    <a href="#" hx-delete="/mikrotik/{{ mikrotik.id }}" hx-target="this" hx-swap="outerHTML" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" onclick="return confirm('Are you sure you want to delete this Mikrotik?');">Delete</a>
                    <a href="/mikrotik/radius/{{ mikrotik.id }}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded">Failover Radius</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--TODO use htmx for adding mikrotik-->
    <a href="/mikrotik/add" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add Mikrotik</a>
</div>
{% endblock content %}
