{% extends "snippets/base.html" %}

{% block title %}Register Mikrotik{% endblock title %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Register Mikrotik</h1>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="/mikrotik/add">
        <div class="mb-4">
            <label for="nome" class="block text-gray-700 text-sm font-bold mb-2">Nome:</label>
            <input type="text" id="nome" name="nome" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="mb-4">
            <label for="ip" class="block text-gray-700 text-sm font-bold mb-2">Endereco IP:</label>
            <input type="text" id="ip" name="ip" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="mb-4">
            <label for="secret" class="block text-gray-700 text-sm font-bold mb-2">Radius Secret:</label>
            <input type="text" id="secret" name="secret" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="mb-4">
            <label for="max_clientes" class="block text-gray-700 text-sm font-bold mb-2">Maximo de Clientes:</label>
            <input type="number" id="max_clientes" name="max_clientes" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <div class="flex items-center justify-between">
            <input type="submit" value="Register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>
</div>
{% endblock content%}
