{% extends 'snippets/base.html' %}
<!--TODO make a list with the .zip inside nota_fical/export_lote
with a button to download the .zip and another do delete it
a third one to send it via email to contabilidade_email(setup via config) -->
{% block title %}Exportar Notas Fiscais{% endblock %}

{% block content %}

<div class="container mx-auto">
    <div class="flex items center justify-between">
        <h1 class="text-2xl font-bold">Exportar Notas Fiscais</h1>
    </div>

    <div class="mt-4">

        <div class="mt-4">
            <ul>
                <!--TODO create a nf_lote table with the date and the path-->
                {% for lote in lotes %}
                    <li class="flex items center justify-between">
                        <span>{{ lote }}</span>
                        <a href="/financeiro/nfs/lotes/{{ lote }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Download</a>
                        <!-- use hx-delete-->
                        <a href="/financeiro/nfs/{{ lote }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Deletar</a>
                        <a href="/financeiro/nfs/{{ lote }}/email" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Enviar por Email</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>



